a{
    text-decoration: none !important;
}

.navbar{
    position:fixed !important;
    top: 0;
    
    width: 100%;
    z-index: 1000;
    
}

.nav-background{
    background-color:#000406;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height:auto
}

.nav-link{
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-collapse{
    flex-grow: 0;
}

.navbar-nav{
    flex-direction: row !important;
}

.navbar-nav .bulltes{
    text-align: center;
}

.navbar-nav span {
    display:inline-block;
    width: 5px;
    height:5px;
    background:#4796d8;
    border-radius: 50%;
    margin-left: 2px;
    
    transform: translateY(-10px);
}

.nav-logo{
    width:20% !important;
}

.navbar-light .navbar-toggler-icon{
    background-image: none !important;
    width: 28px;
    height: 1px;
    background-color: #F2EBE9;
    position: relative;
    margin: 10px 0;
}

.navbar-toggler:focus,
.offcanvas-header .btn-close:focus{
    box-shadow: none;
}

.navbar-light .navbar-toggler{
    border-color: #F2EBE9 !important;
    padding: .25rem .65rem .5rem;
    display:none;
}

.navbar-light .navbar-toggler-icon::before,
.navbar-light .navbar-toggler-icon::after{
    position: absolute;
    content: "";
    width: 22px;
    height: 1px;
    background-color: #F2EBE9;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-light .navbar-toggler-icon::before{
    margin-top: -7px;
}

.navbar-light .navbar-toggler-icon::after{
    margin-top: 7px;
}

.navbar-nav a{
    align-self: center;
    font-family: 'Lobster Two', cursive;
    font-size: 1.2rem;
    color:#F2EBE9 !important ;
    margin: 0 10px;
    padding: 5px;
}

.offcanvas-body .navbar-nav a{
    margin:10px 0;
}

.navbar-nav a:hover,
.navbar-nav a.active,
.offcanvas-body .navbar-nav a:hover,
.offcanvas-body .navbar-nav a.active{
    color: #4796d8 !important;
}


.offcanvas-header .btn-close{
    background: none !important;
    opacity: 1 !important;
}

.offcanvas-header .btn-close::after,
.offcanvas-header .btn-close::before{
    position:absolute;
    content: '';
    width:25px;
    height: 3px;
    background:#010b13;
    right: 20px;
    transition: transform .5s;
}

.offcanvas-header .btn-close::after{
    transform:rotate(45deg);
}

.offcanvas-header .btn-close::before{
    transform:rotate(-45deg);
}

.offcanvas-header .btn-close:hover::after{
    height: 2px;
    transform:rotate(0deg)
}

.offcanvas-header .btn-close:hover::before{
    height: 2px;
    transform:rotate(0deg)
}

.offcanvas-body .navbar-nav .dropdown-menu{
    position:static !important;
}

.offcanvas-body .navbar-nav{
    display: flex !important;
    flex-direction: column !important;
}

.offcanvas-body .navbar-nav a{
    color:#010b13 !important;
    font-size: 20px;
    font-weight: bold;
}

.offcanvas-body .nav-item{
    text-align: center;
}


/*Media Screen*/

@media (max-width:320px) {
    .navbar-brand{
        margin:0;
        width:60%;
    }
}

@media (max-width:576px) {
    .navbar-light .navbar-toggler{
        border: none ;
    }

    .navbar-toggler:focus{
        box-shadow: none !important;
    }

    .navbar-light .navbar-toggler-icon{
        border: none ;
        width: 25px;
        margin: 6px 0;
    }

    .navbar-light .navbar-toggler-icon::before,
    .navbar-light .navbar-toggler-icon::after{
        width: 18px;
    }

    .offcanvas-header .btn-close::after,
    .offcanvas-header .btn-close::before{
        width:20px;
        height: 2px;
    }
}

@media (max-width:991px) {
    .navbar-nav{
        display: none !important;
    }

    .navbar-toggler{
        display: block !important;
    }
}

